@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body {
    margin: 0;
    font-family: 'Lato';
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

h1 {
	position: absolute;
	top: 15px;
	left: 0;
	font-size: 46px;
	text-transform: uppercase;
	max-width: 200px;
	color: white;
	font-weight: 100;
	margin: 0;
	-webkit-user-select: none;
}

h1 a {
	text-decoration: none;
	color: rgb( 190, 190, 190 );
}

.info-icon {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	top: 250px;
	background-color: #333;
	font-size: 20px;
	border-radius: 50%;
	color: white;
	text-align: center;
	opacity: 0.6;
	cursor: pointer;
	line-height: 30px;
}

.info-icon:hover {
	opacity: 1;
}

.info-container {
	position: absolute;
	top: 280px;
	left: 0;
	max-height: 400px;
	overflow-y: scroll;

}

.info-container::-webkit-scrollbar { width: 0 !important };

.info-container:hover .info {
	display: block;
}

.info {
	display: none;
	font-weight: 300;
	font-size: 16px;
	max-width: 500px;
	background-color: rgba(0, 0, 0, 0.75);	
	padding: 15px;
	color: rgb(190, 190, 190);
	border-radius: 15px;
}

.info a {
	color: #FFAB91	;
	text-decoration: none;
}

.info a:hover {
	color: white;
}

.date, .time {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 15px;
	font-size: 46px;
	color: rgb( 190, 190, 190 );
	font-family: 'Lato';
	font-weight: 100;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
}

.time {
	bottom: 55px;
	cursor: pointer;
}






