@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body {
  margin: 0;
  font-family: 'lato';
  -webkit-user-select: none;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

#gradient-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 400px;
  height: 400px;
  background: -webkit-gradient(linear, left top, center center, color-stop(12%,rgba(0,0,0,0.8)), color-stop(53%,rgba(0,0,0,0.51)), color-stop(74%,rgba(0,0,0,0.24)), color-stop(83%,rgba(0,0,0,0.12)), color-stop(100%,rgba(0,0,0,0)));
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#background.stretch {
  width: 100%;
  height: 100%;
}
#background.center {
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
}

h1 {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 36px;
  text-transform: uppercase;
  max-width: 200px;
  color: white;
  font-weight: 100;
  margin: 0;
  -webkit-user-select: none;
}

h1 a {
  text-decoration: none;
  color: rgb( 190, 190, 190 );
}

.info-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
  line-height: 30px;

  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0.0s;
  -webkit-transition-timing-function: linear;
}

.info-icon:hover {
  opacity: 1;
}

.info-container {
  position: absolute;
  top: 200px;
  left: -500px;

  max-width: 500px;
  overflow: hidden;

  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(190, 190, 190);

  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0.0s;
  -webkit-transition-timing-function: linear;
}

.settings-container {
  user-select: none;
  position: fixed;
  right: 0px;
  top: 0px;
  overflow: auto;
}

.settings-icon {
  float: right;
  width: 15px;
  height: 15px;
  background-color: #333;
  font-size: 12px;
  color: white;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
  line-height: 15px;
  margin-top: 5px;
}

.settings {
  float: right;
  height: 0px;
  color: rgb(190, 190, 190);
  overflow: hidden;

  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0.0s;
  -webkit-transition-timing-function: linear;
}

.show-settings {
  height: 31px;
}

.settings-switch {
  width: 150px;
  margin: 2px;
}

.info-wrapper {
  padding: 15px;
}

.info-container .title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
  color: rgb(190, 190, 190);
  border-bottom: solid 1px;
}

.info-container .info {
  font-weight: 300;
  font-size: 16px;
}

.show-info {
  left: 0;
  -webkit-user-select: auto;
}

.info a, .credit-container a {
  color: #FFAB91	;
  text-decoration: none;
}

.info a:hover, .credit-container a:hover {
  color: white;
}

.info-container::-webkit-scrollbar {
  width: 0 !important
};

.info-container:hover .info {
  display: block;
}

.credit-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 15px;
  color: white;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
  line-height: 20px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0.0s;
  -webkit-transition-timing-function: linear;
}

.credit-icon:hover {
  opacity: 1;
}

.credit-container {
  position: absolute;
  font-weight: 300;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(190, 190, 190);
  overflow: hidden;
  height: 20px;
  bottom: -30px;
  padding: 5px;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0.0s;
  -webkit-transition-timing-function: linear;
}

.show-credit {
  bottom: 0px;
}

.date, .time {
  position: absolute;
  bottom: 15px;
  right: 0px;
  padding: 15px 5px;
  font-size: 46px;
  color: rgb( 190, 190, 190 );
  font-family: 'Lato';
  font-weight: 100;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
}

.time {
  bottom: 65px;
  cursor: pointer;
}

.move-info-icon {
  left: 500px;
  opacity: 1.0;
  border-left: solid 1px #333;
}

.move-credit-icon {
  bottom: 30px;
  opacity: 1.0;
  border-bottom: solid 1px #333;
}




